<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Affordable Solutions</h2>
        <p class="lead">We can provide you a fully custom-built solution based on your unique operational requirements. Buying and installing
            “off the shelf” software or application may be suitable for many of your software related requirements. However,
            for the requirement with higher complexity, custom software development is over and over again the optimal solution.
            We can help businesses of different sizes build their digital solution within budget including a small owner-operators’
            business.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="images/content-feature1.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Build Relationships</h2>
        <p class="lead">One of our core motives is to establish strong long-term businesses relationships with our clients. We want to manage
            these relationships in friendly and professional manner by providing the highest level of customer satisfaction
            to achieve the success in the business. We want to win trust of our clients of all type and size, by providing
            strategic advice at the right time together with software solution to grow and expand their business locally
            and/or globally.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="images/content-feature2.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Quick Response</h2>
        <p class="lead">We value the value of time. We always try to utilise time without degrading the quality of work. We understand the
            criticality of your project therefore always try to make the best effort to deliver in the best possible time
            by using the right tools and following the best practice with creative thinking. We are capable of taking healing
            actions to reduce the damage to your business in case your business gets off track with the existing systems
            or current technology.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="images/content-feature3.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">Technically Advanced</h2>
        <p class="lead">We have the required technical skills along with business knowledge and we are capable of coping with the dynamic
            requirements for reliable, maintainable, extensible and robust software solutions that effectively enhance efficiency
            to stay up to date in market.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="images/content-feature4.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">